extends ../layout/index
block contenido 
	main.container.mt-5
		.row
			.col-md-5
				img.img-fluid(src="img/nosotros.jpg", alt="imagen de nosotros")
			.col-md-7
				h1 #{pagina}
				blockquote Etiam ex eros, placerat viverra ex vel, tempor molestie libero. Donec eget varius eros, vel blandit lorem. Donec vel consequat felis, ut pretium ex. Maecenas pretium gravida tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam non nisl porta felis placerat mollis in tincidunt nulla. Curabitur sapien mauris, dignissim consectetur varius eu, tincidunt et nibh. Duis a posuere mi, ut condimentum metus. Vestibulum a tempus diam. Sed vel cursus nibh. Mauris ut metus varius, consectetur odio egestas, venenatis ipsum. Donec placerat blandit leo eu pellentesque. Praesent tincidunt metus volutpat, pretium enim non, accumsan dolor.	
				p Vestibulum imperdiet eget turpis at euismod. Ut a condimentum metus. Ut finibus risus risus, sit amet elementum eros luctus nec. Nullam nec arcu eget mi faucibus finibus. Aliquam sed rutrum nulla. Donec et vehicula lacus. Etiam porttitor sollicitudin fermentum. Suspendisse sit amet molestie massa. Curabitur ultrices facilisis leo, nec finibus justo placerat vitae.
				p Praesent porttitor feugiat nulla et volutpat. Proin quis nibh ante. Morbi vitae posuere ipsum, in dictum urna. Sed eleifend ultrices neque, vitae viverra risus sagittis quis. Fusce semper mollis ullamcorper. Proin a gravida erat. Sed cursus iaculis sodales. Sed ac metus vel magna gravida fermentum. Ut id tristique urna. Aliquam rhoncus finibus eleifend. Sed consectetur sem eu arcu vulputate, quis convallis quam vehicula. Donec varius sem non ex sagittis, nec vulputate ante rutrum.
	.listado-iconos
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Sed consectetur sem eu arcu vulputate, quis convallis quam vehicula. Donec varius sem non ex sagittis, nec vulputate ante rutrum.
				.col-md-4
					img(src="img/icono_destinos.svg", class="img-fluid mb-4")
					h2.mb-4 Mejores Destinos
					p Sed consectetur sem eu arcu vulputate, quis convallis quam vehicula. Donec varius sem non ex sagittis, nec vulputate ante rutrum.
				.col-md-4
					img(src="img/icono_precio.svg", class="img-fluid mb-4")
					h2.mb-4 Mejor Precio
					p Sed consectetur sem eu arcu vulputate, quis convallis quam vehicula. Donec varius sem non ex sagittis, nec vulputate ante rutrum.